
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #191F26;
    width: 100%;
    height: 100%;
    min-height: 100vh;
}

.header{
    margin-bottom: 30px;
}

nav .logo {
    color: #F2F2F2;
    text-align: center;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    padding: 15px 0;
    
}

.nav-link {
   padding: 20px 15px 20px 15px;
}

.nav {
    color: #F2F2F2;
    padding: 10px 0;
}

a {
    color: #F2F2F2;
    font-size: 16px;
}

a:hover {
    color: #F27405;
}

.wrapper {
    min-height: 100vh;
    width: 100%;
}

.bin {
    background-color: #2B3440;
    height: 800px;
    padding: 0 15px;
    margin: 0 auto;
    max-width: 728px;
    border-radius: 15px;
}

h2 {
    color: #f2f2f2;
    padding: 20px 0 10px 0;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    font-size: 25px;
}

hr {
    margin: 0 0 15px 0;
    border-top: solid #F27405 2px;
}

h6
 {
    border-top: solid 4px #F27405;
    font-size: 10px;
    text-align: center;
    padding: 20px 20px;
    background-color: #2B3440;
    color: #F2F2F2;
    margin-top: auto;
}

img {
    margin: 15px;
    width: 300px;
    height: 200px;
    object-fit: cover;
}


@media screen and (max-width: 767px) {

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #191F26;
    width: 100%;
    height: 100%;
}

nav .logo {
    color: #F2F2F2;
    text-align: center;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    padding: 15px 0;
}

.nav {
    color: #F2F2F2;
    padding: 10px 0;
    margin-bottom: 0;
}

a {
    color: #F2F2F2;
    font-size: 16px;
}

a:hover {
    color: #F27405;
}

.wrapper {
    min-height: 100vh;
    width: 100%;
}

.bin {
    height: 1600px;
    width: 600px;
    background-color: #2B3440;
    padding: 0 15px;
    margin: 0 auto;
    border-radius: 15px;
}

h2 {
    color: #f2f2f2;
    padding: 20px 0 10px 0;
    font-family: 'Playfair Display', serif;
    letter-spacing: 1px;
    font-size: 25px;
}

hr {
    margin: 0 0 15px 0;
    border-top: solid #F27405 2px;
}

h6 {
    border-top: solid 4px #F27405;
    font-size: 10px;
    text-align: center;
    padding: 20px 20px;
    background-color: #2B3440;
    color: #F2F2F2;
    margin-top: auto;
}

img {
    margin: 15px 0 15px 120px;
    width: 300px;
    height: 200px;
    object-fit: cover;
}

}